*.vsidx
/IGS2025/Globalsetting/obj
/IGS2025/IGS.Dal/bin/Release
/IGS2025/IGS.Dal/obj
/IGS2025/IGS.Models/obj
/IGS2025/IGS.Web/obj
/IGS2025/IGS.Web/bin/Release
/IGS2025/IGS.Dal/bin/Release
/IGS2025/IGS.Dal/bin/Release
/IGS2025/IGS.Models/bin/Release
