@using Globalsetting
@inject Globalsetting.GlobalEnvironmentSetting GlobalEnvironmentSetting
@model IGS.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string baseUrl = GlobalEnvironmentSetting.AppSettingValue("AppSettings:baseurl");
}

@if (Model?.Home != null)
{
    <div class="row">
        <form asp-action="SaveHomeData" asp-controller="Home" method="post" enctype="multipart/form-data"
              id="form-Home" class="form-horizontal form-label-left input_mask" novalidate data-parsley-validate>
            @Html.AntiForgeryToken()

            <input asp-for="Home.Id" type="hidden" />

            <div class="col-md-12 col-xs-12">

                <!-- Disclaimer Section -->
                <div class="x_title">
                    <h2>Disclaimer Section <small>:</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br />
                                <label asp-for="Home.TransactionsGrowthHeading"></label>
                                <textarea asp-for="Home.TransactionsGrowthHeading" class="form-control" placeholder="Transactions Growth Heading"></textarea>
                                <span asp-validation-for="Home.TransactionsGrowthHeading" class="text-danger"></span>
                                <br />
                            </div>
                        </div>

                        <!-- Brochure Upload -->
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <br />
                                <label for="Brochure">Firm Brochure :</label>
                                <br />
                                <input type="file" name="Brochure" id="Brochure" class="form-control" />
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <br /><br />
                                @if (!string.IsNullOrEmpty(Model.Home.OverviewPdf))
                                {
                                    <a href="@($"{baseUrl}{DbImagePath.HomeImage}{Model.Home.OverviewPdf}")" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i> View Firm Brochure
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"><hr /></div>

                <!-- Investor Login Section -->
                <div class="x_title ">
                    <h2>Investor Login <small>:</small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_panel">
                    <div class="x_content">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br />
                                <label asp-for="Home.InvestorLogin"></label>
                                <input asp-for="Home.InvestorLogin" class="form-control" type="url" placeholder="Investor Login" />
                                <span asp-validation-for="Home.InvestorLogin" class="text-danger"></span>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label asp-for="Home.LinkedInUrl"></label>
                                <input asp-for="Home.LinkedInUrl" class="form-control" type="url" placeholder="LinkedIn Url" />
                                <span asp-validation-for="Home.LinkedInUrl" class="text-danger"></span>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label asp-for="Home.VimeoVideoUrl"></label>
                                <input asp-for="Home.VimeoVideoUrl" class="form-control" type="url" placeholder="Vimeo Video Url" />
                                <span asp-validation-for="Home.VimeoVideoUrl" class="text-danger"></span>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 display_inputx form-group has-feedback">
                                <label asp-for="Home.WebsiteUpdateDateStr">Website Update Date (MM/dd/yyyy)* :</label>
                                <input asp-for="Home.WebsiteUpdateDateStr" class="form-control has-feedback-left" placeholder="Website update date" required />
                                <span asp-validation-for="Home.WebsiteUpdateDateStr" class="text-danger"></span>
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="x_title" style="width:100%;float:right;">
                    <div class="clearfix"></div>
                    <div style="float:right;padding-right:10px;">
                        <input type="submit" class="btn btn-round btn-dark" value="Save" id="btnsave" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
}
